body {
  /* margin-top: 0 auto; */
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: solid 1px;
  padding right: 40px;
  width: 100%;
  padding: 2px;
  z-index: 8;
  height: 80px;
  margin-bottom: 78px;
  margin-right: 215px;
  position: fixed;
  background-color: white;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 0px;
}

.logo {
  padding-left: 30px;
  flex-grow: 1;
  padding-top: 30px;
}

.logo span {
  padding-left: 10px;
  color: aquamarine;
  /* flex-grow: 5; */

  display: inline-block;
  align-items: center;
  padding-bottom: 40px;
}

.nav {
  padding-left: 40px;
}

nav.span {
  display: flex;
  padding: 20px 10px;
  display: inline-block;
  color: black;
  justify-content: right;
}

/* nav {
  display: flex;
  padding: 20px 10px;
  display: inline-block;
  color: black;
  justify-content: right;
} */

.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1232px;
  height: 1115px;
  overflow: scroll;
}

.column .text-content {
  padding-left: 15px;
}


.container .lead-story {
  width: 630px;
  height: 533px;
  /* background-color: white; */
}

.lead-story .image-content {
  width: 630px;
  height: 300px;
  /* background-color: white; */
}

.lead-story .narrative {
  width: 630px;
  height: 200px;
  /* background-color: white; */
  margin: 16px 0px 17px 0;
}


.container .stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  height: 565px;
  /* background-color: white; */
  justify-content: space-between;
}

.story {
  width: 300px;
  height: 565px;
}


.story .text-content {
  width: 300px;
  height: 250px;
}

.image-content1 {
  display: flex;
  justify-content: center;
  background-image: url("./img-story-main.png");
  width: 630px;
  height: 300px;
  margin-top: 15px;
  font-size: 40px;
  font-family: Georgia;
  color: white;
  font-weight: bold;
  align-items: center;
}

p .narrative.text-item {
  margin-left: 20px;
}

.story .narrative.text-item2 {
  margin-left: 20px;
}

_
.story h2 {
  font-size: 30px;
  font-family: Georgia;
  text-align: left;
}

.lead-story {
  flex-grow: 2;
}


.square-img {
  display: flex;
  width: 300px;
  height: 300px;
  margin-top: 15px;
  font-size: 30px;
  font-family: Georgia;
  color: white;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.image-content2 {
  background-image: url("./fallseason.png");
}

.image-content3 {
  background-image: url("./hypster-cameraman.png");
}

.image-content4 {
  background-image: url("./cat.png");
  margin-left: 20px;
}

.text-content {
  /* margin-left: 20px; */
  width: 300px;
  height: 438px;
  /* background-color: pink; */
  /* border: solid 1px black; */
}

.text-content1 h2 {
  margin-left: 20px;
  align-items: center;
}

.text-content h2 {
  font-size: 30px;
  font-family: Georgia;
}
/* .text-content3 {
  margin-left: 20px;
} */


.story {
  width: 300px;
  height: 548px;
  background-color: white;
}

.story .narrative {
  width: 300px;
  height: 200px;
  background-color: white;
}

.cookie {
  margin: 0;
  width: 240px;
  height: 240px;
  /* background-color: pink; */
  flex-shrink: 1;
}

.news-bites {
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
  width: 240px;
  height: 349px;
  background-color: white;
  flex-direction: column;
  paddling: 0px;
  flex-wrap: nowrap;
}

.news-bites h3 {
  font-family: Georgia;
  font-size: 16px;
  color: black;
  text-align: center;
  margin-left: 16px 41px;
}

.news-bites span{
  padding: 11px 20px 11px 20px;
  background-color: whitesmoke;
  border-bottom: black solid 1px;
}

.column {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* flex-grow: 1; */
  align-items: flex-start;
  text-align: justify;
}

footer {
  background-color: mediumaquamarine;
  display: flex;
  width: 969px;
  height: 325px;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding-right: 25px;
  padding-top: 5px;
  border-right: 2px solid white;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  padding-left: 25px;
  display: inline-block;
}

footer nav a {
  font-family: Verdana;
  color: black;
  font-size: 12px;
}

.copy {
  font-family: Verdana;
  font-size: 12px;
  color: black;
}

.text-item {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
