body {
  margin: 0;
}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border: solid 1px;
  padding: 10px 0;
  width: 100%;
}


.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  padding-left: 10px;
  color: aquamarine;
}

nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
  display: inline-block;
  /* color: black; */
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1232px;
  height: 1231px;
}

.container .lead-story {
  width: 630px;
  height: 533px;
  /* background-color: white; */
}

.lead-story .image-content {
  width: 630px;
  height: 300px;
  /* background-color: white; */
}

.lead-story .narrative {
  width: 630px;
  height: 200px;
  /* background-color: white; */
  margin: 16px 0 17px 0;
}

.container .stories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 630px;
  height: 565px;
  /* background-color: white; */
  justify-content: space-between;
}

.story {
  width: 300px;
  height: 565px;
}

.story .text-content {
  width: 300px;
  height: 250px;
}

.image-content1 {
  display: flex;
  justify-content: center;
  background-image: url("./img-story-main.png");
  width: 630px;
  height: 300px;
  margin-top: 15px;
  font-size: 40px;
  font-family: Georgia;
  color: white;
  font-weight: bold;
  align-items: center;
}

p .narrative.text-item {
  margin: 16 0 17 0;
}

.story h2 {
  font-size: 30px;
  font-family: Georgia;
}

.image-content1 p {
  margin-left: 20px;
}

.square-img {
  display: flex;
  width: 300px;
  height: 300px;
  margin-top: 15px;
  font-size: 30px;
  font-family: Georgia;
  color: white;
  font-weight: bold;
  align-items: center;
  text-align: center;
}

.image-content2 {
  background-image: url("./fallseason.png");
}

.image-content3 {
  background-image: url("./hypster-cameraman.png");
}

.image-content4 {
  background-image: url("./cat.png");
}

.text-content {
  width: 300px;
  height: 438px;
  /* background-color: pink; */
  /* border: solid 1px black; */
}

.story {
  width: 300px;
  height: 548px;
  background-color: white;
}

.story .narrative {
  width: 300px;
  height: 200px;
  background-color: white;
}

.cookie {
  width: 240px;
  height: 240px;
  /* background-color: pink; */
}

.news-bites {
  width: 240px;
  height: 349px;
  background-color: green;
}

.column {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  background-color: mediumaquamarine;

  display: flex;
  width: 100%;
  height: 325px;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  padding-right: 25px;
  padding-top: 5px;
  border-right: 2px solid white;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  padding-left: 25px;
  display: inline-block;
}

footer nav a {
  font-family: Verdana;
  color: black;
  font-size: 12px;
}

.copy {
  font-family: Verdana;
  font-size: 12px;
  color: black;
}

.text-item {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
